<html>
  <head>
    <title>Learn Write - Forms</title>
  </head>
  <body>
    <nav>
      <td>
        <tr><a href="/">Index</a></tr>
        <tr><a href="/form">Forms</a></tr>
      </td>
    </nav>
    <center>
      <h1>html form</h1>
    <form action="/" method="get">
      <table>
        <tr>
          <td>Name</td>
          <td><input type="text" name="name" id=""></td>
          <td>E-mail</td>
          <td><input type="email" name="" id=""></td>
          <td>Contect</td>
          <td><input type="number" name="" id=""></td>
          <td><input type="submit" value="submit" id=""></td>

        </tr>
      </table>
    </form>
    </center>
  </body>

</html>